@layer main {
  .c_ui_badge {
    display: inline-flex;
    align-items: center;
    border-radius: var(--radius-default);
    padding: 0.125rem 0.5rem;
    font-size: var(--text-xs);
    font-weight: var(--text-xl-weight);
    white-space: nowrap;
    background-color: var(--color-main-3);

    &[data-variant="success"] {
      background-color: var(--color-success-sub-8);
      color: var(--color-success-add-6);
    }

    &[data-variant="warning"] {
      background-color: var(--color-warning-sub-8);
      color: var(--color-warning-add-6);
    }

    &[data-variant="danger"] {
      background-color: var(--color-danger-sub-8);
      color: var(--color-danger-add-6);
    }

    &[data-variant="info"] {
      background-color: var(--color-info-sub-8);
      color: var(--color-info-add-6);
    }

    &[data-variant="neutral"] {
      background-color: var(--color-main-3);
      color: var(--color-text-6);
    }
  }
}
