APP_DEBUG=true
APP_ENV=dev
APP_URL=https://localhost
APP_SERVER_NAME=localhost
ACME_EMAIL=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

MERCURE_PUBLISHER_JWT_KEY=
MERCURE_SUBSCRIBER_JWT_KEY=
MERCURE_PUBLISHER_JWT=
MERCURE_HUB_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=https://localhost:3443/.well-known/mercure
MERCURE_SERVER_NAME=localhost
MERCURE_PORT=3443

VITE_SERVER_URL=https://localhost:5173
