APP_DEBUG=true
APP_ENV=dev
APP_URL=http://localhost:8080

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

MERCURE_PUBLISHER_JWT_KEY=
MERCURE_SUBSCRIBER_JWT_KEY=
MERCURE_PUBLISHER_JWT=
MERCURE_HUB_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost:3000/.well-known/mercure
MERCURE_SERVER_NAME=:80
MERCURE_PORT=3000

VITE_SERVER_URL=http://localhost:5173