@layer main {
  .p_imports__filter-panel {
    display: contents;

    .date-range {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;

      .c_ui_input_date {
        width: 100%;

        input {
          color: var(--color-text-13)
        }
      }
    }
  }
}
