@layer main {
  .c_ui_input_select {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;
  }

  .c_ui_input_select__container {
    &.select2-selection--single,
    &.select2-selection--multiple {
      height: auto;
      min-height: 0;
      border-radius: var(--radius-default);
      border: 1px solid var(--input-border-color);
      padding: var(--input-padding);
      /*padding-right: 1.75rem;*/
      background-color: var(--input-background-color);
    }

    .select2-selection__rendered {
      padding: 0;
      font-size: var(--text-md);
      font-weight: var(--text-md-weight);
      letter-spacing: var(--text-md-letter-spacing);
      font-family: var(--font-sans);
      line-height: normal;
      color: var(--input-text-color);
    }

    .select2-selection__placeholder {
      color: var(--color-text-13);
    }

    .select2-selection__arrow {
      height: auto;
      top: 50%;
      right: 0.7rem;
      width: 0.8125rem;
      translate: 0 -50%;

      b {
        display: none;
      }

      &::after {
        content: "";
        display: block;
        width: 0.8125rem;
        height: 0.8125rem;
        background-color: var(--color-text-13);
        mask-image: url("~app/icons/lucide/chevron-down.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
      }
    }

    .select2-selection--multiple .select2-selection__rendered {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    .select2-selection__choice {
      margin: 0;
      border-radius: var(--radius-tight);
      border: none;
      padding: 0.0625rem 0.375rem;
      /*background-color: var(--color-primary-sub-8); !* shouldn't be primary *!*/
      background-color: var(--color-main); /* shouldn't be primary */
      color: var(--color-text-1);
    }

    .select2-selection__choice__remove {
      margin-right: 0.25rem;
      border: none;
      color: inherit;
    }
  }

  .select2-container--open .c_ui_input_select__container {
    border-color: var(--input-border-color-active);
  }

  .c_ui_input_select__dropdown {
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 0 0 var(--radius-default) var(--radius-default);
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    box-shadow: var(--shadow-size-xs) var(--shadow-strength-xs);

    .select2-search--dropdown {
      margin-bottom: 0.375rem;
    }

    .select2-search__field {
      border-radius: var(--radius-default);
      border: 1px solid var(--input-border-color);
      padding: var(--input-padding);
      font-size: var(--text-sm);
      font-family: var(--font-sans);
      background-color: var(--input-background-color);
      color: var(--input-text-color);
      outline: none;

      &:focus {
        border-color: var(--input-border-color-active);
      }
    }

    .select2-results__options {
      max-height: 13rem;
    }

    .select2-results__option {
      border-radius: var(--radius-default);
      padding: 0.375rem 0.5rem;
      font-size: var(--text-sm);
      color: var(--input-text-color);
    }

    &.select2-dropdown--above {
      top: auto;
      bottom: 0;
    }
  }

  /*---[ ▼ Variants ▼ ]-----*/
  .select-input[data-variant="primary"] + .select2-container,
  .c_ui_input_select__dropdown[data-variant="primary"] {
    --input-border-color-active: var(--color-primary-add-1);

    .select2-results__option--highlighted {
      background-color: var(--color-primary-sub-7);
    }

    .select2-results__option[aria-selected="true"] {
      font-weight: 700;
      background-color: var(--color-primary-sub-5);
    }
  }

  .select-input[data-variant="neutral"] + .select2-container,
  .c_ui_input_select__dropdown[data-variant="neutral"] {
    --input-border-color-active: var(--color-main-3);

    .select2-results__option--highlighted {
      background-color: color-mix(in oklab, var(--color-main-13) 10%, transparent);
    }

    .select2-results__option[aria-selected="true"] {
      font-weight: 700;
      background-color: color-mix(in oklab, var(--color-main-13) 16%, transparent);
    }
  }
}
