@layer main {
  .c_ui_input_select {
    --dd-padding-length: 0.2rem;
    --dd-padding-width: 0.2rem;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .ts-wrapper {
      --option-padding-length: 0.2rem;
      --option-padding-width: 0.4rem;
      position: relative;

      &.focus {
        .ts-control {
          border-color: var(--input-border-color-active);
        }
      }

      .ts-control {
        line-height: initial;

        &:not(&:has(.item)) {
          .clear-button {
            pointer-events: none;
          }
        }

        &:has(.item) {
          .clear-button {
            opacity: 1;
          }
        }

        .item {
          overflow: hidden;
          text-align: left;

          &[data-value=""] {
            color: var(--color-text-13);
          }
        }

        .clear-button {
          transition: none;
          overflow: hidden;
          font-size: var(--text-lg);
          color: var(--color-text-8);
          right: calc(var(--input-padding-width) + 3.1px);

          &:hover {
            color: var(--color-text-1);
          }

          &:active {
            color: var(--color-danger-add-5);
          }
        }

        &::after {
          content: "";
          position: absolute;
          pointer-events: none;
          top: 50%;
          right: var(--input-padding-width);
          translate: 0 -50%;
          width: 1rem;
          height: 1rem;
          background-color: var(--color-text-13);
          mask-image: url("~app/icons/lucide/chevron-down.svg");
          mask-size: contain;
          mask-repeat: no-repeat;
          transition: rotate 200ms ease;
        }

        &:hover&::after, &:focus&::after {
          background-color: var(--color-text-1);
        }
      }

      .ts-dropdown {
        display: block;
        position-area: bottom span-right;
        position-try-fallbacks: flip-block;
        min-width: anchor-size(width);
        height: 0;
        max-height: 0;
        width: fit-content;
        scrollbar-width: thin;
        overflow: hidden;
        box-shadow: none;
        position: fixed;
        inset: auto;
        margin: 0;
        padding: 0;
        border: none;
        visibility: hidden;

        .ts-dropdown-content {
          min-height: 0;
          max-height: unset;
          overflow: hidden auto;

          .option {
            overflow: hidden;
            padding: var(--option-padding-length) var(--option-padding-width);
            border-radius: var(--radius-default);
            vertical-align: baseline;

            .highlight {
              background: var(--color-main-6);
            }

            &:not(:last-child) {
              margin-bottom: 0.2rem;
            }

            &.active {
              background-color: var(--input-color-item-hover);
              padding-left: 0.6rem;
            }

            &.selected {
              background-color: var(--input-color-item-active);
            }

            &:active {
              background-color: var(--input-color-item-click);
            }
          }
        }
      }

      &:has(.plugin-clear_button)&:has(.ts-control .item) {
        .ts-control::after {
          opacity: 0;
          content: none;
        }
      }

      &.multi {
        .ts-control {
          gap: 0.375rem;
          /*padding: var(--dd-padding-length) var(--dd-padding-width);*/

          .item {
            /*display: flex;*/
            background-color: var(--input-color-item);
            padding: 0 var(--option-padding-width);
            line-height: 1.5rem;
            border-radius: var(--radius-default);

            .remove {
              overflow: hidden;
              padding: 0 calc(var(--option-padding-width) / 1);
              margin-left: calc(var(--option-padding-width) / 1);
              border-left: 1px solid var(--color-text-18);
              font-size: var(--text-lg);
              color: var(--color-text-8);

              &:hover {
                background: var(--input-color-item-hover);
                color: var(--color-text-1);
              }

              &:active {
                background: var(--input-color-item-click);
                /*color: var(--color-text-1);*/
                color: var(--color-danger-add-5);
              }
            }

            &.active {
              background-color: var(--input-color-item-active);
            }
          }
        }
      }

      /*---[ ▼ Animation ▼ ]-----*/

      &:has(.ts-dropdown[data-state]) {
        &:not(:has(.ts-dropdown[data-state="closed"])) {
          .ts-dropdown {
            height: auto;
            max-height: var(--DD-MAX-HEIGHT);
            padding: var(--dd-padding-length) var(--dd-padding-width);
            border: 1px solid var(--input-border-color-active);
            visibility: visible;
          }

          &[data-position-area~="top"] {
            .ts-control {
              border-radius: 0 0 var(--radius-default) var(--radius-default);
            }

            .ts-dropdown {
              border-radius: var(--radius-default) var(--radius-default) 0 0;
            }
          }

          &[data-position-area~="bottom"] {
            .ts-control {
              border-radius: var(--radius-default) var(--radius-default) 0 0;
            }

            .ts-dropdown {
              border-radius: 0 0 var(--radius-default) var(--radius-default);
            }
          }
        }

        &:has(.ts-dropdown[data-state="opening"]), &:has(.ts-dropdown[data-state="open"]) {
          .ts-control {
            &::after {
              rotate: 180deg;
            }
          }
        }

        .ts-dropdown[data-state="opening"] {
          animation: selectOpen 200ms cubic-bezier(.25, 1, .75, 1) forwards;
        }

        .ts-dropdown[data-state="closing"] {
          animation: selectClose 200ms cubic-bezier(.25, 1, .75, 1) forwards;
        }

        .ts-dropdown[data-state="open"] {
          max-height: var(--DD-MAX-HEIGHT);
          overflow: hidden auto;
        }

        .ts-dropdown[data-state="closed"] {
          visibility: hidden;
        }

        &.dropdown-active {
        }
      }
    }

    /*:::[ ▼ Variants ▼ ]:::::*/

    &[data-variant="primary"] {
      .ts-wrapper {
        .ts-control {
        }

        .ts-dropdown {
          .ts-dropdown-content {
            .option {
              .highlight {
                background: var(--color-primary-add-2); /* test this */
              }

              &.active {
                background-color: var(--input-color-item-hover-primary);
              }

              &.selected {
                background-color: var(--input-color-item-active-primary);
              }

              &:active {
                background-color: var(--input-color-item-click-primary);
              }
            }
          }
        }

        &.focus {
          .ts-control {
            border-color: var(--input-border-color-primary);
          }
        }

        &:has(.ts-dropdown[data-state]) {
          .ts-control {

          }

          &:not(:has(.ts-dropdown[data-state="closed"])) {
            .ts-dropdown {
              border-color: var(--input-border-color-active-primary);
            }
          }
        }

        &.multi {
          .ts-control {
            .item {
              background-color: var(--input-color-item-primary);
              color: var(--color-text-light);

              .remove {
                border-left: 1px solid var(--color-primary-add-3);
                color: var(--color-text-light);

                &:hover {
                  background: var(--color-primary-sub-1);
                  color: var(--color-text-light);
                }

                &:active {
                  background: var(--color-primary-sub-2);
                  /*color: var(--color-danger-add-5);*/
                }
              }

              &.active {
                background-color: var(--input-color-item-active-primary);
              }
            }
          }
        }
      }
    }
  }

  @keyframes selectOpen {
    0% {
      max-height: var(--DD-CURRENT-HEIGHT);
      /*max-height: 0;*/
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
    }

    99% {
      max-height: var(--DD-HEIGHT);
      padding-top: var(--dd-padding-length);
      padding-bottom: var(--dd-padding-length);
      overflow: hidden;
    }

    100% {
      max-height: var(--DD-MAX-HEIGHT);
      padding-top: var(--dd-padding-length);
      padding-bottom: var(--dd-padding-length);
      overflow: hidden auto;
    }
  }

  @keyframes selectClose {
    0% {
      padding-top: var(--dd-padding-length);
      padding-bottom: var(--dd-padding-length);
      max-height: var(--DD-CURRENT-HEIGHT);
    }

    100% {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}