@layer main {
  .p_products__products-table {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    .c_ui_table {
      border-radius: var(--radius-default) var(--radius-default) 0 0;
    }

    .c_ui_paginator {
      border-radius: 0 0 var(--radius-default) var(--radius-default);
    }

    .product-td-title {
      min-width: 12rem;
      white-space: normal;
      overflow-wrap: break-word;
    }

    .product-td-thumb {
      .thumb {
        width: 2rem;
        height: 2rem;
        border-radius: var(--radius-default);
        object-fit: contain;

        &.thumb--empty {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-text-13);
        }

        .thumb-icon {
          width: 0.9375rem;
          height: 0.9375rem;
        }
      }
    }

    .product-td-title {
      .title-link {
        font-weight: var(--text-xl-weight);
        text-decoration: none;
        color: var(--color-text-1);

        &:hover {
          text-decoration: underline;
          color: var(--color-text-12);
        }
      }
    }

    .product-td-discount {
      .discount {
        font-weight: var(--text-2xl-weight);
        color: var(--color-success);
      }
    }

    .product-td-price {
      .is-discounted {
        /*text-decoration: line-through;*/
        /*text-decoration-color: var(--color-text-18);*/
        /*text-decoration-thickness: 1px;*/
        color: var(--color-text-10);
      }
    }

    .product-td-stock {
      &[data-low] {
        font-weight: var(--text-2xl-weight);
        color: var(--color-danger);
      }
    }

    .product-td-price,
    .product-td-discount,
    .product-td-rating,
    .product-td-stock {
      font-family: var(--font-mono);
    }
  }
}
