@layer main {
  .c_ui_table__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: fit-content;*/
    /*padding-left: 1.25rem;*/
    /*padding-right: 1.25rem;*/
    /*padding-top: 3rem;*/
    /*padding-bottom: 3rem;*/

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 75%;
      gap: 0.5rem;
      justify-content: center;
      padding: 3rem 1rem;
      text-align: center;
    }

    .icon {
      width: 2rem;
      height: 2rem;
      margin-bottom: 0.5rem;
    }

    &[data-variant="primary"] .icon {
      color: var(--color-primary);
    }

    .title {
      
    }

    .description {
      font-size: var(--text-sm);
      color: var(--color-text-13);
    }

    .action {
      margin-top: 1rem;
    }
  }
}
