@layer default {
  /*===[ ▼ Mode Independent ▼ ]==========================================================================<editor-fold>*/
  :root {
    /*---[ ▼ Fixed Colours ▼ ]----------------------------------------------------------------------------------------*/
    --color-light: oklab(0.9612 0.0000 0.0000);
    --color-dark: oklab(0.1591 0.0000 0.0000);

    /*--color-text-light: oklab(0.8686 0.0000 0.0000);*/
    /*--color-text-dark: oklab(0.2516 0.0000 0.0000);*/

    --color-text-light: oklab(0.9303 0.0000 0.0000);
    --color-text-dark: oklab(0.1899 0.0000 0.0000);

    /*---[ ▼ Radius ▼ ]-----------------------------------------------------------------------------------------------*/
    --radius-tight: 2px;
    --radius-default: 3px;
    --radius-loose: 6px;

    /*---[ ▼ Border ▼ ]---------------------------------------------------------------------------------------------------------*/
    --border-color-primary: var(--color-primary-sub-8);
    --border-color-main: var(--color-main-5);

    /*---[ ▼ Font Stack ▼ ]-------------------------------------------------------------------------------------------*/
    --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Ubuntu Mono", ui-monospace, "SF Mono", Menlo, monospace;

    /*---[ ▼ Heading Properties ▼-------------------------------------------------------------------------------------*/
    --h1-font-size: 1.75rem;
    --h1-weight: 600;
    --h1-letter-spacing: 0.5px;
    --h1-transform: initial;

    --h2-font-size: 1.375rem;
    --h2-weight: 600;
    --h2-letter-spacing: 0.5px;
    --h2-transform: initial;

    --h3-font-size: 1.125rem;
    --h3-weight: 600;
    --h3-letter-spacing: 0.5px;
    --h3-transform: initial;

    --h4-font-size: 1rem;
    --h4-weight: 600;
    --h4-letter-spacing: 0.5px;
    --h4-transform: initial;

    --h5-font-size: 0.875rem;
    --h5-weight: 600;
    --h5-letter-spacing: 0.5px;
    --h5-transform: initial;

    --h6-font-size: 0.8125rem;
    --h6-weight: 600;
    --h6-letter-spacing: 0.5px;
    --h6-transform: initial;

    /*---[ ▼ Text Properties ▼ ]--------------------------------------------------------------------------------------*/
    --line-height-multiplier: 1.4;

    --text-2xs: 0.6875rem;
    --text-2xs-line-height: initial;
    --text-2xs-transform: initial;
    --text-2xs-letter-spacing: -0.1875rem;
    --text-2xs-weight: 100;

    --text-xs: 0.75rem;
    --text-xs-line-height: initial;
    --text-xs-transform: initial;
    --text-xs-letter-spacing: -0.125rem;
    --text-xs-weight: 200;

    --text-sm: 0.875rem;
    --text-sm-line-height: initial;
    --text-sm-transform: initial;
    --text-sm-letter-spacing: -0.0625rem;
    --text-sm-weight: 200;

    --text-md: 1rem;
    --text-md-line-height: initial;
    --text-md-transform: initial;
    --text-md-letter-spacing: 0.5px;
    --text-md-weight: 400;

    --text-lg: 1.125rem;
    --text-lg-line-height: initial;
    --text-lg-transform: initial;
    --text-lg-letter-spacing: 0.0625rem;
    --text-lg-weight: 500;

    --text-xl: 1.25rem;
    --text-xl-line-height: initial;
    --text-xl-transform: initial;
    --text-xl-letter-spacing: 0.125rem;
    --text-xl-weight: 600;

    --text-2xl: 1.5rem;
    --text-2xl-line-height: initial;
    --text-2xl-transform: initial;
    --text-2xl-letter-spacing: 0.1875rem;
    --text-2xl-weight: 700;

    --text-3xl: 1.75rem;
    --text-3xl-line-height: initial;
    --text-3xl-transform: initial;
    --text-3xl-letter-spacing: 0.25rem;
    --text-3xl-weight: 800;

    --text-4xl: 2rem;
    --text-4xl-line-height: initial;
    --text-4xl-transform: initial;
    --text-4xl-letter-spacing: 0.3125rem;
    --text-4xl-weight: 900;

    --text-5xl: 2.5rem;
    --text-5xl-line-height: initial;
    --text-5xl-transform: initial;
    --text-5xl-letter-spacing: 0.375rem;
    --text-5xl-weight: 1000;
  }

  /*===[ ▲ Mode Independent ▲ ]=========================================================================</editor-fold>*/
}

@layer default {
  /*===[ ▼ Light Mode ▼ ]================================================================================<editor-fold>*/
  :root {
    color-scheme: light;

    /*---[ ▼ Color: Primary ▼ ]---------------------------------------------------------------------------------------*/
    --color-primary-sub-12: oklab(0.9221 -0.0046 0.0029);
    --color-primary-sub-11: oklab(0.8831 -0.0092 0.0059);
    --color-primary-sub-10: oklab(0.8440 -0.0137 0.0088);
    --color-primary-sub-9: oklab(0.8050 -0.0183 0.0117);
    --color-primary-sub-8: oklab(0.7659 -0.0229 0.0147);
    --color-primary-sub-7: oklab(0.7269 -0.0275 0.0176);
    --color-primary-sub-6: oklab(0.6878 -0.0321 0.0205);
    --color-primary-sub-5: oklab(0.6488 -0.0366 0.0235);
    --color-primary-sub-4: oklab(0.6097 -0.0412 0.0264);
    --color-primary-sub-3: oklab(0.5707 -0.0458 0.0293);
    --color-primary-sub-2: oklab(0.5316 -0.0504 0.0323);
    --color-primary-sub-1: oklab(0.4926 -0.0550 0.0352);
    --color-primary: oklab(0.4535 -0.0595 0.0381);
    --color-primary-add-1: oklab(0.4309 -0.0550 0.0352);
    --color-primary-add-2: oklab(0.4082 -0.0504 0.0323);
    --color-primary-add-3: oklab(0.3856 -0.0458 0.0293);
    --color-primary-add-4: oklab(0.3629 -0.0412 0.0264);
    --color-primary-add-5: oklab(0.3403 -0.0366 0.0235);
    --color-primary-add-6: oklab(0.3176 -0.0321 0.0205);
    --color-primary-add-7: oklab(0.2950 -0.0275 0.0176);
    --color-primary-add-8: oklab(0.2723 -0.0229 0.0147);
    --color-primary-add-9: oklab(0.2497 -0.0183 0.0117);
    --color-primary-add-10: oklab(0.2270 -0.0137 0.0088);
    --color-primary-add-11: oklab(0.2044 -0.0092 0.0059);
    --color-primary-add-12: oklab(0.1817 -0.0046 0.0029);

    /*---[ ▼ Color: Accent ▼ ]----------------------------------------------------------------------------------------*/
    --color-accent-sub-12: oklab(0.9209 0.0009 0.0024);
    --color-accent-sub-11: oklab(0.8806 0.0017 0.0048);
    --color-accent-sub-10: oklab(0.8404 0.0026 0.0072);
    --color-accent-sub-9: oklab(0.8001 0.0035 0.0096);
    --color-accent-sub-8: oklab(0.7599 0.0043 0.0121);
    --color-accent-sub-7: oklab(0.7196 0.0052 0.0145);
    --color-accent-sub-6: oklab(0.6794 0.0060 0.0169);
    --color-accent-sub-5: oklab(0.6391 0.0069 0.0193);
    --color-accent-sub-4: oklab(0.5989 0.0078 0.0217);
    --color-accent-sub-3: oklab(0.5586 0.0086 0.0241);
    --color-accent-sub-2: oklab(0.5183 0.0095 0.0265);
    --color-accent-sub-1: oklab(0.4781 0.0104 0.0289);
    --color-accent: oklab(0.4378 0.0112 0.0314);
    --color-accent-add-1: oklab(0.4164 0.0104 0.0289);
    --color-accent-add-2: oklab(0.3950 0.0095 0.0265);
    --color-accent-add-3: oklab(0.3735 0.0086 0.0241);
    --color-accent-add-4: oklab(0.3521 0.0078 0.0217);
    --color-accent-add-5: oklab(0.3306 0.0069 0.0193);
    --color-accent-add-6: oklab(0.3092 0.0060 0.0169);
    --color-accent-add-7: oklab(0.2877 0.0052 0.0145);
    --color-accent-add-8: oklab(0.2663 0.0043 0.0121);
    --color-accent-add-9: oklab(0.2448 0.0035 0.0096);
    --color-accent-add-10: oklab(0.2234 0.0026 0.0072);
    --color-accent-add-11: oklab(0.2020 0.0017 0.0048);
    --color-accent-add-12: oklab(0.1805 0.0009 0.0024);

    /*---[ ▼ Color: Success ▼ ]---------------------------------------------------------------------------------------*/
    --color-success-sub-12: oklab(0.9249 -0.0058 0.0030);
    --color-success-sub-11: oklab(0.8886 -0.0115 0.0061);
    --color-success-sub-10: oklab(0.8523 -0.0173 0.0091);
    --color-success-sub-9: oklab(0.8160 -0.0231 0.0122);
    --color-success-sub-8: oklab(0.7797 -0.0288 0.0152);
    --color-success-sub-7: oklab(0.7435 -0.0346 0.0183);
    --color-success-sub-6: oklab(0.7072 -0.0404 0.0213);
    --color-success-sub-5: oklab(0.6709 -0.0462 0.0244);
    --color-success-sub-4: oklab(0.6346 -0.0519 0.0274);
    --color-success-sub-3: oklab(0.5983 -0.0577 0.0305);
    --color-success-sub-2: oklab(0.5621 -0.0635 0.0335);
    --color-success-sub-1: oklab(0.5258 -0.0692 0.0366);
    --color-success: oklab(0.4895 -0.0750 0.0396);
    --color-success-add-1: oklab(0.4641 -0.0692 0.0366);
    --color-success-add-2: oklab(0.4387 -0.0635 0.0335);
    --color-success-add-3: oklab(0.4132 -0.0577 0.0305);
    --color-success-add-4: oklab(0.3878 -0.0519 0.0274);
    --color-success-add-5: oklab(0.3624 -0.0462 0.0244);
    --color-success-add-6: oklab(0.3370 -0.0404 0.0213);
    --color-success-add-7: oklab(0.3116 -0.0346 0.0183);
    --color-success-add-8: oklab(0.2862 -0.0288 0.0152);
    --color-success-add-9: oklab(0.2607 -0.0231 0.0122);
    --color-success-add-10: oklab(0.2353 -0.0173 0.0091);
    --color-success-add-11: oklab(0.2099 -0.0115 0.0061);
    --color-success-add-12: oklab(0.1845 -0.0058 0.0030);

    /*---[ ▼ Color: Warning ▼ ]---------------------------------------------------------------------------------------*/
    --color-warning-sub-12: oklab(0.9362 0.0023 0.0086);
    --color-warning-sub-11: oklab(0.9113 0.0046 0.0171);
    --color-warning-sub-10: oklab(0.8864 0.0070 0.0257);
    --color-warning-sub-9: oklab(0.8615 0.0093 0.0342);
    --color-warning-sub-8: oklab(0.8366 0.0116 0.0428);
    --color-warning-sub-7: oklab(0.8117 0.0139 0.0514);
    --color-warning-sub-6: oklab(0.7868 0.0163 0.0599);
    --color-warning-sub-5: oklab(0.7619 0.0186 0.0685);
    --color-warning-sub-4: oklab(0.7370 0.0209 0.0770);
    --color-warning-sub-3: oklab(0.7121 0.0232 0.0856);
    --color-warning-sub-2: oklab(0.6872 0.0256 0.0942);
    --color-warning-sub-1: oklab(0.6623 0.0279 0.1027);
    --color-warning: oklab(0.6374 0.0302 0.1113);
    --color-warning-add-1: oklab(0.6006 0.0279 0.1027);
    --color-warning-add-2: oklab(0.5638 0.0256 0.0942);
    --color-warning-add-3: oklab(0.5270 0.0232 0.0856);
    --color-warning-add-4: oklab(0.4902 0.0209 0.0770);
    --color-warning-add-5: oklab(0.4534 0.0186 0.0685);
    --color-warning-add-6: oklab(0.4166 0.0163 0.0599);
    --color-warning-add-7: oklab(0.3798 0.0139 0.0514);
    --color-warning-add-8: oklab(0.3430 0.0116 0.0428);
    --color-warning-add-9: oklab(0.3062 0.0093 0.0342);
    --color-warning-add-10: oklab(0.2694 0.0070 0.0257);
    --color-warning-add-11: oklab(0.2327 0.0046 0.0171);
    --color-warning-add-12: oklab(0.1959 0.0023 0.0086);

    /*---[ ▼ Color: Danger ▼ ]----------------------------------------------------------------------------------------*/
    --color-danger-sub-12: oklab(0.9263 0.0097 0.0042);
    --color-danger-sub-11: oklab(0.8915 0.0195 0.0084);
    --color-danger-sub-10: oklab(0.8567 0.0292 0.0126);
    --color-danger-sub-9: oklab(0.8218 0.0389 0.0168);
    --color-danger-sub-8: oklab(0.7870 0.0487 0.0210);
    --color-danger-sub-7: oklab(0.7522 0.0584 0.0252);
    --color-danger-sub-6: oklab(0.7174 0.0681 0.0294);
    --color-danger-sub-5: oklab(0.6825 0.0778 0.0336);
    --color-danger-sub-4: oklab(0.6477 0.0876 0.0378);
    --color-danger-sub-3: oklab(0.6129 0.0973 0.0420);
    --color-danger-sub-2: oklab(0.5780 0.1070 0.0462);
    --color-danger-sub-1: oklab(0.5432 0.1168 0.0504);
    --color-danger: oklab(0.5084 0.1265 0.0546);
    --color-danger-add-1: oklab(0.4815 0.1168 0.0504);
    --color-danger-add-2: oklab(0.4546 0.1070 0.0462);
    --color-danger-add-3: oklab(0.4278 0.0973 0.0420);
    --color-danger-add-4: oklab(0.4009 0.0876 0.0378);
    --color-danger-add-5: oklab(0.3740 0.0778 0.0336);
    --color-danger-add-6: oklab(0.3472 0.0681 0.0294);
    --color-danger-add-7: oklab(0.3203 0.0584 0.0252);
    --color-danger-add-8: oklab(0.2934 0.0487 0.0210);
    --color-danger-add-9: oklab(0.2666 0.0389 0.0168);
    --color-danger-add-10: oklab(0.2397 0.0292 0.0126);
    --color-danger-add-11: oklab(0.2128 0.0195 0.0084);
    --color-danger-add-12: oklab(0.1859 0.0097 0.0042);

    /*---[ ▼ Color: Info ▼ ]------------------------------------------------------------------------------------------*/
    --color-info-sub-12: oklab(0.9265 -0.0028 -0.0046);
    --color-info-sub-11: oklab(0.8919 -0.0056 -0.0092);
    --color-info-sub-10: oklab(0.8573 -0.0083 -0.0137);
    --color-info-sub-9: oklab(0.8227 -0.0111 -0.0183);
    --color-info-sub-8: oklab(0.7881 -0.0139 -0.0229);
    --color-info-sub-7: oklab(0.7534 -0.0167 -0.0275);
    --color-info-sub-6: oklab(0.7188 -0.0194 -0.0320);
    --color-info-sub-5: oklab(0.6842 -0.0222 -0.0366);
    --color-info-sub-4: oklab(0.6496 -0.0250 -0.0412);
    --color-info-sub-3: oklab(0.6150 -0.0278 -0.0458);
    --color-info-sub-2: oklab(0.5804 -0.0306 -0.0503);
    --color-info-sub-1: oklab(0.5457 -0.0333 -0.0549);
    --color-info: oklab(0.5111 -0.0361 -0.0595);
    --color-info-add-1: oklab(0.4840 -0.0333 -0.0549);
    --color-info-add-2: oklab(0.4570 -0.0306 -0.0503);
    --color-info-add-3: oklab(0.4299 -0.0278 -0.0458);
    --color-info-add-4: oklab(0.4028 -0.0250 -0.0412);
    --color-info-add-5: oklab(0.3757 -0.0222 -0.0366);
    --color-info-add-6: oklab(0.3486 -0.0194 -0.0320);
    --color-info-add-7: oklab(0.3216 -0.0167 -0.0275);
    --color-info-add-8: oklab(0.2945 -0.0139 -0.0229);
    --color-info-add-9: oklab(0.2674 -0.0111 -0.0183);
    --color-info-add-10: oklab(0.2403 -0.0083 -0.0137);
    --color-info-add-11: oklab(0.2132 -0.0056 -0.0092);
    --color-info-add-12: oklab(0.1861 -0.0028 -0.0046);

    /*---[ ▼ Color: Main ▼ ]------------------------------------------------------------------------------------------*/
    --color-main: oklab(0.9612 0.0000 0.0000);
    --color-main-1: oklab(0.9303 0.0000 0.0000);
    --color-main-2: oklab(0.8995 0.0000 0.0000);
    --color-main-3: oklab(0.8686 0.0000 0.0000);
    --color-main-4: oklab(0.8378 0.0000 0.0000);
    --color-main-5: oklab(0.8069 0.0000 0.0000);
    --color-main-6: oklab(0.7761 0.0000 0.0000);
    --color-main-7: oklab(0.7452 0.0000 0.0000);
    --color-main-8: oklab(0.7144 0.0000 0.0000);
    --color-main-9: oklab(0.6835 0.0000 0.0000);
    --color-main-10: oklab(0.6527 0.0000 0.0000);
    --color-main-11: oklab(0.6218 0.0000 0.0000);
    --color-main-12: oklab(0.5910 0.0000 0.0000);
    --color-main-13: oklab(0.5601 0.0000 0.0000);
    --color-main-14: oklab(0.5293 0.0000 0.0000);
    --color-main-15: oklab(0.4984 0.0000 0.0000);
    --color-main-16: oklab(0.4676 0.0000 0.0000);
    --color-main-17: oklab(0.4367 0.0000 0.0000);
    --color-main-18: oklab(0.4059 0.0000 0.0000);
    --color-main-19: oklab(0.3750 0.0000 0.0000);
    --color-main-20: oklab(0.3442 0.0000 0.0000);
    --color-main-21: oklab(0.3133 0.0000 0.0000);
    --color-main-22: oklab(0.2825 0.0000 0.0000);
    --color-main-23: oklab(0.2516 0.0000 0.0000);
    --color-main-24: oklab(0.2208 0.0000 0.0000);
    --color-main-25: oklab(0.1899 0.0000 0.0000);
    --color-main-26: oklab(0.1591 0.0000 0.0000);

    /*---[ ▼ Color: Text ▼ ]------------------------------------------------------------------------------------------*/
    --color-text: oklab(0.1591 0.0000 0.0000);
    --color-text-1: oklab(0.1899 0.0000 0.0000);
    --color-text-2: oklab(0.2208 0.0000 0.0000);
    --color-text-3: oklab(0.2516 0.0000 0.0000);
    --color-text-4: oklab(0.2825 0.0000 0.0000);
    --color-text-5: oklab(0.3133 0.0000 0.0000);
    --color-text-6: oklab(0.3442 0.0000 0.0000);
    --color-text-7: oklab(0.3750 0.0000 0.0000);
    --color-text-8: oklab(0.4059 0.0000 0.0000);
    --color-text-9: oklab(0.4367 0.0000 0.0000);
    --color-text-10: oklab(0.4676 0.0000 0.0000);
    --color-text-11: oklab(0.4984 0.0000 0.0000);
    --color-text-12: oklab(0.5293 0.0000 0.0000);
    --color-text-13: oklab(0.5601 0.0000 0.0000);
    --color-text-14: oklab(0.5910 0.0000 0.0000);
    --color-text-15: oklab(0.6218 0.0000 0.0000);
    --color-text-16: oklab(0.6527 0.0000 0.0000);
    --color-text-17: oklab(0.6835 0.0000 0.0000);
    --color-text-18: oklab(0.7144 0.0000 0.0000);
    --color-text-19: oklab(0.7452 0.0000 0.0000);
    --color-text-20: oklab(0.7761 0.0000 0.0000);
    --color-text-21: oklab(0.8069 0.0000 0.0000);
    --color-text-22: oklab(0.8378 0.0000 0.0000);
    --color-text-23: oklab(0.8686 0.0000 0.0000);
    --color-text-24: oklab(0.8995 0.0000 0.0000);
    --color-text-25: oklab(0.9303 0.0000 0.0000);
    --color-text-26: oklab(0.9612 0.0000 0.0000);

    /*---[ ▼ Color: Neutral ▼ ]---------------------------------------------------------------------------------------*/
    --color-neutral-sub-13: oklab(0.9612 0.0000 0.0000);
    --color-neutral-sub-12: oklab(0.9303 0.0000 0.0000);
    --color-neutral-sub-11: oklab(0.8995 0.0000 0.0000);
    --color-neutral-sub-10: oklab(0.8686 0.0000 0.0000);
    --color-neutral-sub-9: oklab(0.8378 0.0000 0.0000);
    --color-neutral-sub-8: oklab(0.8069 0.0000 0.0000);
    --color-neutral-sub-7: oklab(0.7761 0.0000 0.0000);
    --color-neutral-sub-6: oklab(0.7452 0.0000 0.0000);
    --color-neutral-sub-5: oklab(0.7144 0.0000 0.0000);
    --color-neutral-sub-4: oklab(0.6835 0.0000 0.0000);
    --color-neutral-sub-3: oklab(0.6527 0.0000 0.0000);
    --color-neutral-sub-2: oklab(0.6218 0.0000 0.0000);
    --color-neutral-sub-1: oklab(0.5910 0.0000 0.0000);
    --color-neutral: oklab(0.5601 0.0000 0.0000);
    --color-neutral-add-1: oklab(0.5293 0.0000 0.0000);
    --color-neutral-add-2: oklab(0.4984 0.0000 0.0000);
    --color-neutral-add-3: oklab(0.4676 0.0000 0.0000);
    --color-neutral-add-4: oklab(0.4367 0.0000 0.0000);
    --color-neutral-add-5: oklab(0.4059 0.0000 0.0000);
    --color-neutral-add-6: oklab(0.3750 0.0000 0.0000);
    --color-neutral-add-7: oklab(0.3442 0.0000 0.0000);
    --color-neutral-add-8: oklab(0.3133 0.0000 0.0000);
    --color-neutral-add-9: oklab(0.2825 0.0000 0.0000);
    --color-neutral-add-10: oklab(0.2516 0.0000 0.0000);
    --color-neutral-add-11: oklab(0.2208 0.0000 0.0000);
    --color-neutral-add-12: oklab(0.1899 0.0000 0.0000);
    --color-neutral-add-13: oklab(0.1591 0.0000 0.0000);

    /*---[ ▼ Shadow ▼ ]-----------------------------------------------------------------------------------------------*/
    --shadow-base-strength: 1;
  }

  /*===[ ▲ Light Mode ▲ ]===============================================================================</editor-fold>*/
}

@layer default-dark {
  /*===[ ▼ Dark Mode ▼ ]=================================================================================<editor-fold>*/
  html[data-theme-mode="dark"] {
    color-scheme: dark;

    /*---[ ▼ Color: Primary ▼ ]---------------------------------------------------------------------------------------*/
    --color-primary-sub-12: oklab(0.1817 -0.0046 0.0029);
    --color-primary-sub-11: oklab(0.2044 -0.0092 0.0059);
    --color-primary-sub-10: oklab(0.2270 -0.0137 0.0088);
    --color-primary-sub-9: oklab(0.2497 -0.0183 0.0117);
    --color-primary-sub-8: oklab(0.2723 -0.0229 0.0147);
    --color-primary-sub-7: oklab(0.2950 -0.0275 0.0176);
    --color-primary-sub-6: oklab(0.3176 -0.0321 0.0205);
    --color-primary-sub-5: oklab(0.3403 -0.0366 0.0235);
    --color-primary-sub-4: oklab(0.3629 -0.0412 0.0264);
    --color-primary-sub-3: oklab(0.3856 -0.0458 0.0293);
    --color-primary-sub-2: oklab(0.4082 -0.0504 0.0323);
    --color-primary-sub-1: oklab(0.4309 -0.0550 0.0352);
    --color-primary: oklab(0.4535 -0.0595 0.0381);
    --color-primary-add-1: oklab(0.4926 -0.0550 0.0352);
    --color-primary-add-2: oklab(0.5316 -0.0504 0.0323);
    --color-primary-add-3: oklab(0.5707 -0.0458 0.0293);
    --color-primary-add-4: oklab(0.6097 -0.0412 0.0264);
    --color-primary-add-5: oklab(0.6488 -0.0366 0.0235);
    --color-primary-add-6: oklab(0.6878 -0.0321 0.0205);
    --color-primary-add-7: oklab(0.7269 -0.0275 0.0176);
    --color-primary-add-8: oklab(0.7659 -0.0229 0.0147);
    --color-primary-add-9: oklab(0.8050 -0.0183 0.0117);
    --color-primary-add-10: oklab(0.8440 -0.0137 0.0088);
    --color-primary-add-11: oklab(0.8831 -0.0092 0.0059);
    --color-primary-add-12: oklab(0.9221 -0.0046 0.0029);

    /*---[ ▼ Color: Accent ▼ ]----------------------------------------------------------------------------------------*/
    --color-accent-sub-12: oklab(0.1805 0.0009 0.0024);
    --color-accent-sub-11: oklab(0.2020 0.0017 0.0048);
    --color-accent-sub-10: oklab(0.2234 0.0026 0.0072);
    --color-accent-sub-9: oklab(0.2448 0.0035 0.0096);
    --color-accent-sub-8: oklab(0.2663 0.0043 0.0121);
    --color-accent-sub-7: oklab(0.2877 0.0052 0.0145);
    --color-accent-sub-6: oklab(0.3092 0.0060 0.0169);
    --color-accent-sub-5: oklab(0.3306 0.0069 0.0193);
    --color-accent-sub-4: oklab(0.3521 0.0078 0.0217);
    --color-accent-sub-3: oklab(0.3735 0.0086 0.0241);
    --color-accent-sub-2: oklab(0.3950 0.0095 0.0265);
    --color-accent-sub-1: oklab(0.4164 0.0104 0.0289);
    --color-accent: oklab(0.4378 0.0112 0.0314);
    --color-accent-add-1: oklab(0.4781 0.0104 0.0289);
    --color-accent-add-2: oklab(0.5183 0.0095 0.0265);
    --color-accent-add-3: oklab(0.5586 0.0086 0.0241);
    --color-accent-add-4: oklab(0.5989 0.0078 0.0217);
    --color-accent-add-5: oklab(0.6391 0.0069 0.0193);
    --color-accent-add-6: oklab(0.6794 0.0060 0.0169);
    --color-accent-add-7: oklab(0.7196 0.0052 0.0145);
    --color-accent-add-8: oklab(0.7599 0.0043 0.0121);
    --color-accent-add-9: oklab(0.8001 0.0035 0.0096);
    --color-accent-add-10: oklab(0.8404 0.0026 0.0072);
    --color-accent-add-11: oklab(0.8806 0.0017 0.0048);
    --color-accent-add-12: oklab(0.9209 0.0009 0.0024);

    /*---[ ▼ Color: Success ▼ ]---------------------------------------------------------------------------------------*/
    --color-success-sub-12: oklab(0.1845 -0.0058 0.0030);
    --color-success-sub-11: oklab(0.2099 -0.0115 0.0061);
    --color-success-sub-10: oklab(0.2353 -0.0173 0.0091);
    --color-success-sub-9: oklab(0.2607 -0.0231 0.0122);
    --color-success-sub-8: oklab(0.2862 -0.0288 0.0152);
    --color-success-sub-7: oklab(0.3116 -0.0346 0.0183);
    --color-success-sub-6: oklab(0.3370 -0.0404 0.0213);
    --color-success-sub-5: oklab(0.3624 -0.0462 0.0244);
    --color-success-sub-4: oklab(0.3878 -0.0519 0.0274);
    --color-success-sub-3: oklab(0.4132 -0.0577 0.0305);
    --color-success-sub-2: oklab(0.4387 -0.0635 0.0335);
    --color-success-sub-1: oklab(0.4641 -0.0692 0.0366);
    --color-success: oklab(0.4895 -0.0750 0.0396);
    --color-success-add-1: oklab(0.5258 -0.0692 0.0366);
    --color-success-add-2: oklab(0.5621 -0.0635 0.0335);
    --color-success-add-3: oklab(0.5983 -0.0577 0.0305);
    --color-success-add-4: oklab(0.6346 -0.0519 0.0274);
    --color-success-add-5: oklab(0.6709 -0.0462 0.0244);
    --color-success-add-6: oklab(0.7072 -0.0404 0.0213);
    --color-success-add-7: oklab(0.7435 -0.0346 0.0183);
    --color-success-add-8: oklab(0.7797 -0.0288 0.0152);
    --color-success-add-9: oklab(0.8160 -0.0231 0.0122);
    --color-success-add-10: oklab(0.8523 -0.0173 0.0091);
    --color-success-add-11: oklab(0.8886 -0.0115 0.0061);
    --color-success-add-12: oklab(0.9249 -0.0058 0.0030);

    /*---[ ▼ Color: Warning ▼ ]---------------------------------------------------------------------------------------*/
    --color-warning-sub-12: oklab(0.1959 0.0023 0.0086);
    --color-warning-sub-11: oklab(0.2327 0.0046 0.0171);
    --color-warning-sub-10: oklab(0.2694 0.0070 0.0257);
    --color-warning-sub-9: oklab(0.3062 0.0093 0.0342);
    --color-warning-sub-8: oklab(0.3430 0.0116 0.0428);
    --color-warning-sub-7: oklab(0.3798 0.0139 0.0514);
    --color-warning-sub-6: oklab(0.4166 0.0163 0.0599);
    --color-warning-sub-5: oklab(0.4534 0.0186 0.0685);
    --color-warning-sub-4: oklab(0.4902 0.0209 0.0770);
    --color-warning-sub-3: oklab(0.5270 0.0232 0.0856);
    --color-warning-sub-2: oklab(0.5638 0.0256 0.0942);
    --color-warning-sub-1: oklab(0.6006 0.0279 0.1027);
    --color-warning: oklab(0.6374 0.0302 0.1113);
    --color-warning-add-1: oklab(0.6623 0.0279 0.1027);
    --color-warning-add-2: oklab(0.6872 0.0256 0.0942);
    --color-warning-add-3: oklab(0.7121 0.0232 0.0856);
    --color-warning-add-4: oklab(0.7370 0.0209 0.0770);
    --color-warning-add-5: oklab(0.7619 0.0186 0.0685);
    --color-warning-add-6: oklab(0.7868 0.0163 0.0599);
    --color-warning-add-7: oklab(0.8117 0.0139 0.0514);
    --color-warning-add-8: oklab(0.8366 0.0116 0.0428);
    --color-warning-add-9: oklab(0.8615 0.0093 0.0342);
    --color-warning-add-10: oklab(0.8864 0.0070 0.0257);
    --color-warning-add-11: oklab(0.9113 0.0046 0.0171);
    --color-warning-add-12: oklab(0.9362 0.0023 0.0086);

    /*---[ ▼ Color: Danger ▼ ]----------------------------------------------------------------------------------------*/
    --color-danger-sub-12: oklab(0.1859 0.0097 0.0042);
    --color-danger-sub-11: oklab(0.2128 0.0195 0.0084);
    --color-danger-sub-10: oklab(0.2397 0.0292 0.0126);
    --color-danger-sub-9: oklab(0.2666 0.0389 0.0168);
    --color-danger-sub-8: oklab(0.2934 0.0487 0.0210);
    --color-danger-sub-7: oklab(0.3203 0.0584 0.0252);
    --color-danger-sub-6: oklab(0.3472 0.0681 0.0294);
    --color-danger-sub-5: oklab(0.3740 0.0778 0.0336);
    --color-danger-sub-4: oklab(0.4009 0.0876 0.0378);
    --color-danger-sub-3: oklab(0.4278 0.0973 0.0420);
    --color-danger-sub-2: oklab(0.4546 0.1070 0.0462);
    --color-danger-sub-1: oklab(0.4815 0.1168 0.0504);
    --color-danger: oklab(0.5084 0.1265 0.0546);
    --color-danger-add-1: oklab(0.5432 0.1168 0.0504);
    --color-danger-add-2: oklab(0.5780 0.1070 0.0462);
    --color-danger-add-3: oklab(0.6129 0.0973 0.0420);
    --color-danger-add-4: oklab(0.6477 0.0876 0.0378);
    --color-danger-add-5: oklab(0.6825 0.0778 0.0336);
    --color-danger-add-6: oklab(0.7174 0.0681 0.0294);
    --color-danger-add-7: oklab(0.7522 0.0584 0.0252);
    --color-danger-add-8: oklab(0.7870 0.0487 0.0210);
    --color-danger-add-9: oklab(0.8218 0.0389 0.0168);
    --color-danger-add-10: oklab(0.8567 0.0292 0.0126);
    --color-danger-add-11: oklab(0.8915 0.0195 0.0084);
    --color-danger-add-12: oklab(0.9263 0.0097 0.0042);

    /*---[ ▼ Color: Info ▼ ]------------------------------------------------------------------------------------------*/
    --color-info-sub-12: oklab(0.1861 -0.0028 -0.0046);
    --color-info-sub-11: oklab(0.2132 -0.0056 -0.0092);
    --color-info-sub-10: oklab(0.2403 -0.0083 -0.0137);
    --color-info-sub-9: oklab(0.2674 -0.0111 -0.0183);
    --color-info-sub-8: oklab(0.2945 -0.0139 -0.0229);
    --color-info-sub-7: oklab(0.3216 -0.0167 -0.0275);
    --color-info-sub-6: oklab(0.3486 -0.0194 -0.0320);
    --color-info-sub-5: oklab(0.3757 -0.0222 -0.0366);
    --color-info-sub-4: oklab(0.4028 -0.0250 -0.0412);
    --color-info-sub-3: oklab(0.4299 -0.0278 -0.0458);
    --color-info-sub-2: oklab(0.4570 -0.0306 -0.0503);
    --color-info-sub-1: oklab(0.4840 -0.0333 -0.0549);
    --color-info: oklab(0.5111 -0.0361 -0.0595);
    --color-info-add-1: oklab(0.5457 -0.0333 -0.0549);
    --color-info-add-2: oklab(0.5804 -0.0306 -0.0503);
    --color-info-add-3: oklab(0.6150 -0.0278 -0.0458);
    --color-info-add-4: oklab(0.6496 -0.0250 -0.0412);
    --color-info-add-5: oklab(0.6842 -0.0222 -0.0366);
    --color-info-add-6: oklab(0.7188 -0.0194 -0.0320);
    --color-info-add-7: oklab(0.7534 -0.0167 -0.0275);
    --color-info-add-8: oklab(0.7881 -0.0139 -0.0229);
    --color-info-add-9: oklab(0.8227 -0.0111 -0.0183);
    --color-info-add-10: oklab(0.8573 -0.0083 -0.0137);
    --color-info-add-11: oklab(0.8919 -0.0056 -0.0092);
    --color-info-add-12: oklab(0.9265 -0.0028 -0.0046);

    /*---[ ▼ Color: Main ▼ ]------------------------------------------------------------------------------------------*/
    --color-main: oklab(0.1591 0.0000 0.0000);
    --color-main-1: oklab(0.1899 0.0000 0.0000);
    --color-main-2: oklab(0.2208 0.0000 0.0000);
    --color-main-3: oklab(0.2516 0.0000 0.0000);
    --color-main-4: oklab(0.2825 0.0000 0.0000);
    --color-main-5: oklab(0.3133 0.0000 0.0000);
    --color-main-6: oklab(0.3442 0.0000 0.0000);
    --color-main-7: oklab(0.3750 0.0000 0.0000);
    --color-main-8: oklab(0.4059 0.0000 0.0000);
    --color-main-9: oklab(0.4367 0.0000 0.0000);
    --color-main-10: oklab(0.4676 0.0000 0.0000);
    --color-main-11: oklab(0.4984 0.0000 0.0000);
    --color-main-12: oklab(0.5293 0.0000 0.0000);
    --color-main-13: oklab(0.5601 0.0000 0.0000);
    --color-main-14: oklab(0.5910 0.0000 0.0000);
    --color-main-15: oklab(0.6218 0.0000 0.0000);
    --color-main-16: oklab(0.6527 0.0000 0.0000);
    --color-main-17: oklab(0.6835 0.0000 0.0000);
    --color-main-18: oklab(0.7144 0.0000 0.0000);
    --color-main-19: oklab(0.7452 0.0000 0.0000);
    --color-main-20: oklab(0.7761 0.0000 0.0000);
    --color-main-21: oklab(0.8069 0.0000 0.0000);
    --color-main-22: oklab(0.8378 0.0000 0.0000);
    --color-main-23: oklab(0.8686 0.0000 0.0000);
    --color-main-24: oklab(0.8995 0.0000 0.0000);
    --color-main-25: oklab(0.9303 0.0000 0.0000);
    --color-main-26: oklab(0.9612 0.0000 0.0000);

    /*---[ ▼ Color: Text ▼ ]------------------------------------------------------------------------------------------*/
    --color-text: oklab(0.9612 0.0000 0.0000);
    --color-text-1: oklab(0.9303 0.0000 0.0000);
    --color-text-2: oklab(0.8995 0.0000 0.0000);
    --color-text-3: oklab(0.8686 0.0000 0.0000);
    --color-text-4: oklab(0.8378 0.0000 0.0000);
    --color-text-5: oklab(0.8069 0.0000 0.0000);
    --color-text-6: oklab(0.7761 0.0000 0.0000);
    --color-text-7: oklab(0.7452 0.0000 0.0000);
    --color-text-8: oklab(0.7144 0.0000 0.0000);
    --color-text-9: oklab(0.6835 0.0000 0.0000);
    --color-text-10: oklab(0.6527 0.0000 0.0000);
    --color-text-11: oklab(0.6218 0.0000 0.0000);
    --color-text-12: oklab(0.5910 0.0000 0.0000);
    --color-text-13: oklab(0.5601 0.0000 0.0000);
    --color-text-14: oklab(0.5293 0.0000 0.0000);
    --color-text-15: oklab(0.4984 0.0000 0.0000);
    --color-text-16: oklab(0.4676 0.0000 0.0000);
    --color-text-17: oklab(0.4367 0.0000 0.0000);
    --color-text-18: oklab(0.4059 0.0000 0.0000);
    --color-text-19: oklab(0.3750 0.0000 0.0000);
    --color-text-20: oklab(0.3442 0.0000 0.0000);
    --color-text-21: oklab(0.3133 0.0000 0.0000);
    --color-text-22: oklab(0.2825 0.0000 0.0000);
    --color-text-23: oklab(0.2516 0.0000 0.0000);
    --color-text-24: oklab(0.2208 0.0000 0.0000);
    --color-text-25: oklab(0.1899 0.0000 0.0000);
    --color-text-26: oklab(0.1591 0.0000 0.0000);

    /*---[ ▼ Color: Neutral ▼ ]---------------------------------------------------------------------------------------*/
    --color-neutral-sub-13: oklab(0.1591 0.0000 0.0000);
    --color-neutral-sub-12: oklab(0.1899 0.0000 0.0000);
    --color-neutral-sub-11: oklab(0.2208 0.0000 0.0000);
    --color-neutral-sub-10: oklab(0.2516 0.0000 0.0000);
    --color-neutral-sub-9: oklab(0.2825 0.0000 0.0000);
    --color-neutral-sub-8: oklab(0.3133 0.0000 0.0000);
    --color-neutral-sub-7: oklab(0.3442 0.0000 0.0000);
    --color-neutral-sub-6: oklab(0.3750 0.0000 0.0000);
    --color-neutral-sub-5: oklab(0.4059 0.0000 0.0000);
    --color-neutral-sub-4: oklab(0.4367 0.0000 0.0000);
    --color-neutral-sub-3: oklab(0.4676 0.0000 0.0000);
    --color-neutral-sub-2: oklab(0.4984 0.0000 0.0000);
    --color-neutral-sub-1: oklab(0.5293 0.0000 0.0000);
    --color-neutral: oklab(0.5601 0.0000 0.0000);
    --color-neutral-add-1: oklab(0.5910 0.0000 0.0000);
    --color-neutral-add-2: oklab(0.6218 0.0000 0.0000);
    --color-neutral-add-3: oklab(0.6527 0.0000 0.0000);
    --color-neutral-add-4: oklab(0.6835 0.0000 0.0000);
    --color-neutral-add-5: oklab(0.7144 0.0000 0.0000);
    --color-neutral-add-6: oklab(0.7452 0.0000 0.0000);
    --color-neutral-add-7: oklab(0.7761 0.0000 0.0000);
    --color-neutral-add-8: oklab(0.8069 0.0000 0.0000);
    --color-neutral-add-9: oklab(0.8378 0.0000 0.0000);
    --color-neutral-add-10: oklab(0.8686 0.0000 0.0000);
    --color-neutral-add-11: oklab(0.8995 0.0000 0.0000);
    --color-neutral-add-12: oklab(0.9303 0.0000 0.0000);
    --color-neutral-add-13: oklab(0.9612 0.0000 0.0000);

    /*---[ ▼ Shadow ▼ ]-----------------------------------------------------------------------------------------------*/
    --shadow-base-strength: 1.5;
  }

  /*===[ ▲ Dark Mode ▲ ]================================================================================</editor-fold>*/
}
