@layer main {
  .p_products__products-table__filter-panel {
    --input-background-color: var(--color-main-2);
    --input-border-color: var(--color-main-5);

    position: absolute;
    top: 5.5rem;
    right: 1rem;
    margin: 0;
    width: 16rem;
    max-width: calc(100vw - 32px);
    border-radius: var(--radius-default);
    border: none; /* reset the UA popover default border */
    padding: 1rem;
    background-color: var(--color-main-1);
    box-shadow: var(--shadow-size-sm) var(--shadow-strength-sm);
    overflow: visible;
    flex-direction: column;
    transition: opacity 0.15s ease, scale 0.15s ease,
    display 0.15s allow-discrete, overlay 0.15s allow-discrete;
    opacity: 0;
    scale: 0.95;

    &:popover-open {
      display: flex;
      opacity: 1;
      scale: 1;
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
        scale: 0.95;
      }
    }

    @supports (anchor-name: --a) {
      top: calc(anchor(bottom) + 1rem);
      right: anchor(right);
      left: auto;
      bottom: auto;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    hr {
      margin: -0.1875rem 0;
    }

    .minimum-rating {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      input:focus {
        border-color: var(--input-border-color-active);
      }

      &[data-variant="primary"] input {
        &:focus {
          border-color: var(--color-primary-add-1);
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      padding-top: 0.25rem;
    }
  }
}
