@layer main {
  .c_ui_input_range-slider {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .values {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .c_ui_input_number {
        width: 100%;
      }

      span {
        flex-shrink: 0;
        color: var(--color-text-13);
      }
    }

    .track {
      position: relative;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      margin-left: 0.125rem;
      margin-right: 0.125rem;
      height: 0.25rem;
      border-radius: var(--radius-default);
      background-color: var(--color-main-5);

      .fill {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        border-radius: var(--radius-default);
        background-color: var(--color-main-15);
      }

      input[type="range"] {
        position: absolute;
        top: 50%;
        left: 0;
        margin: 0;
        width: 100%;
        appearance: none;
        background: transparent;
        transform: translateY(-50%);
        pointer-events: none;

        &::-webkit-slider-runnable-track {
          appearance: none;
          background: transparent;
        }

        &::-moz-range-track {
          background: transparent;
        }

        &::-webkit-slider-thumb {
          width: 0.875rem;
          height: 0.875rem;
          cursor: pointer;
          appearance: none;
          border-radius: 9999px;
          border: 2px solid var(--color-main-10);
          background-color: var(--color-main-1);
          pointer-events: auto;
        }

        &::-moz-range-thumb {
          width: 0.875rem;
          height: 0.875rem;
          cursor: pointer;
          border-radius: 9999px;
          border: 2px solid var(--color-primary);
          box-sizing: border-box;
          background-color: var(--color-main);
          pointer-events: auto;
        }
      }
    }

    &[data-variant="primary"] {
      .fill {
        background-color: var(--color-primary);
      }

      input[type="range"]::-webkit-slider-thumb {
        border: 2px solid var(--color-primary-add-1);
      }
    }
  }
}
