@layer main {
  .c_ui_page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .title {
      display: flex;
      align-items: center;
      gap: 0.625rem;


      .icon {
        position: relative;
        top: 1px;
        width: 2rem;
        height: 2rem;
        color: var(--color-primary);
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 0.625rem;

      &:empty {
        display: none;
      }
    }
  }
}
