@layer main {
  .c_ui_table {
    flex: 1;
    min-height: 0;
    overflow: auto;
    border: 1px solid var(--border-color-main);
    background-color: var(--color-main);

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: var(--text-sm);

      thead {
        position: sticky;
        top: 0;
        z-index: var(--z-add-1); /* z-1: sticky table header */

        th {
          padding: 0.5rem;
          text-align: left;
          vertical-align: middle;
          font-size: var(--text-xs);
          font-weight: var(--text-2xl-weight);
          letter-spacing: var(--text-lg-letter-spacing);
          white-space: nowrap;
          text-transform: uppercase;
          background-color: var(--color-main-3);
          border-bottom: 1px solid var(--border-color-main);
        }
      }

      tbody {
        td {
          padding: 0.5rem;
          white-space: nowrap;
          vertical-align: middle;
          color: var(--color-text-1);
          border-bottom: 1px solid var(--color-main-3);
        }

        tr {
          &:nth-child(even) {
            background-color: var(--color-main-1);
          }

          &:hover:not(.empty-row) {
            background-color: var(--color-main-2);
          }
        }

        .empty-row {
          td {
            border-bottom: 0;
          }
        }
      }
    }

    /* --- Variants --- */

    &[data-variant="primary"] {
      scrollbar-color: var(--color-primary-sub-2) var(--color-primary-sub-9);

      th {
        background-color: var(--color-primary-sub-9);
        /*color: var(--color-text-light);*/

        .icon {
          /*color: var(--color-text-light);*/
        }
      }

      tbody tr:nth-child(even) {
        background-color: var(--color-primary-sub-12);
      }

      tbody tr:hover {
        background-color: var(--color-primary-sub-11);
      }
    }
  }
}
