@layer main {
  .c_ui_filter-panel {
    --input-color: var(--color-main-2);
    --input-border-color: var(--color-main-5);

    position: absolute;
    margin: 0;
    width: 16rem;
    max-width: calc(100vw - 32px);
    border-radius: var(--radius-default);
    border: 1px solid var(--input-border-color);
    padding: 1rem;
    background-color: var(--color-main-1);
    box-shadow: var(--shadow-size-sm) var(--shadow-strength-sm);
    overflow: visible;
    flex-direction: column;
    gap: 1rem;
    transition: opacity 0.15s ease, scale 0.15s ease,
    display 0.15s allow-discrete, overlay 0.15s allow-discrete;
    opacity: 0;
    scale: 0.95;
    position-anchor: auto;
    position-area: bottom span-left;
    position-try-fallbacks: flip-block, flip-inline;
    margin-top: 1rem;

    &:popover-open {
      display: flex;
      opacity: 1;
      scale: 1;
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
        scale: 0.95;
      }
    }

    hr {
      margin: -0.1875rem 0;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }
}
