@layer main {
  .c_ui_input_search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    .input {
      padding: 0;
    }

    .field {
      display: flex;
      width: 16.25rem;
      align-items: center;
      gap: 0.5rem;
      border-radius: var(--radius-default);
      border: 1px solid var(--input-border-color);
      padding: var(--input-padding);
      background-color: var(--color-main-1);

      &:has(:focus) {
        border-color: var(--input-border-color-active);
      }

      /* TODO: fix the alignment of the filter and search button with this field for mobile*/
      @media (--under-md) {
        width: 100%;
      }

      .icon {
        width: 0.875rem;
        height: 0.875rem;
        flex-shrink: 0;
      }

      input {
        width: 100%;
        border: 0;
        background: transparent;
        font-size: var(--text-sm);
        font-family: var(--font-sans);
        outline: none;
      }

      .clear {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: var(--radius-default);
        padding: 0;

        &:hover {
          color: var(--color-text-1);
        }
      }
    }

    &[data-variant="primary"] {
      .field {
        &:has(:focus) {
          border-color: var(--input-border-color-primary);
        }
      }
    }
  }
}
