@layer main {
  .sidebar-pin {
    .btn, .btn:hover:not(:disabled), .btn:active:not(:disabled) {
      background-color: unset;
      box-shadow: unset;
      border-color: transparent;
      transform: scale(1);
      /*transition: transform 0.1s var(--snap);*/
    }

    .btn:hover:not(:disabled) {
      transform: scale(1.15);
    }

    .btn:active:not(:disabled) {
      transform: scale(1);
    }

    .btn {
      padding: 0;

      .icon {
        width: var(--text-lg);
        height: var(--text-lg);
      }

      .icon--after .icon {
        color: var(--color-primary-add-3);
      }
    }

    &[aria-pressed="true"] {
      .icon--before {
        display: none;
      }

      .icon--after {
        display: inline-flex;
      }
    }

    &[aria-pressed="false"] {
      .icon--before {
        display: inline-flex;
      }

      .icon--after {
        display: none;
      }
    }
  }
}