@layer main {
  .l_main__nav__sidebar__pin {
    padding: 0;
    background-color: transparent;

    .icon {
      width: var(--text-lg);
      height: var(--text-lg);
    }

    .icon--after .icon {
      color: var(--color-primary-add-3);
    }

    &[data-pressed] {
      .icon--before {
        display: none;
      }

      .icon--after {
        display: inline-flex;
      }
    }

    &:not([data-pressed]) {
      .icon--before {
        display: inline-flex;
      }

      .icon--after {
        display: none;
      }
    }

    &,
    &:hover:not(:disabled),
    &:active:not(:disabled) {
      /*box-shadow: unset;*/
      /*border-color: transparent;*/
      /*transform: scale(1);*/
      /*transition: transform 0.1s var(--snap);*/
    }

    &:hover:not(:disabled) {
      transform: scale(1.15);
    }

    &:active:not(:disabled) {
      transform: scale(1);
    }
  }
}