@layer main {
  .btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: var(--radius-default);
    border: 1px solid transparent;
    padding: 0.4rem 0.7rem;
    font-size: var(--text-sm);
    font-weight: 600;
    text-decoration: none;
    box-shadow: var(--shadow-sharp-sm);
    transition: transform 0.01s ease, box-shadow 0.01s ease, background-color 0.01s ease;
    -webkit-tap-highlight-color: transparent;

    &:active:not(:disabled) {
      transform: translateY(2px);
      box-shadow: none;
    }

    &:disabled {
      cursor: progress;
      opacity: 0.7;
    }

    .icon {
      width: var(--text-lg);
      height: var(--text-lg);
    }

    .icon-container {
      display: inline-flex;
      align-items: center;
    }

    /* --- Variants --- */

    &[data-variant='primary'] {
      color: var(--color-text-light);
      background-color: var(--color-primary);
      border-color: var(--color-primary-add-1);

      .icon {
        color: var(--color-text-light)
      }

      &:hover:not(:disabled) {
        background-color: var(--color-primary-add-1);
      }

      &:active:not(:disabled) {
        background-color: var(--color-primary-add-2);
      }
    }

    &[data-variant='accent'] {
      color: var(--color-text-light);
      background-color: var(--color-accent);
      border-color: var(--color-accent-add-1);

      .icon {
        color: var(--color-text-light)
      }

      &:hover:not(:disabled) {
        background-color: var(--color-accent-add-1);
      }

      &:active:not(:disabled) {
        background-color: var(--color-accent-add-2);
      }
    }

    &[data-variant='blank'] {
      background-color: transparent;
      color: var(--color-text-3);
      border-color: var(--color-main-3);

      &:hover:not(:disabled) {
        background-color: color-mix(in oklab, var(--color-main-13) 10%, transparent);
      }

      &:active:not(:disabled) {
        background-color: color-mix(in oklab, var(--color-main-13) 16%, transparent);
      }
    }

    &[data-variant='neutral'] {
      background-color: color-mix(in oklab, var(--color-main-13) 10%, transparent);
      /*color: var(--color-text-3);*/
      border-color: color-mix(in oklab, var(--color-main-13) 10%, transparent);

      &:hover:not(:disabled) {
        background-color: color-mix(in oklab, var(--color-main-13) 16%, transparent);
      }

      &:active:not(:disabled) {
        background-color: color-mix(in oklab, var(--color-main-13) 24%, transparent);
      }
    }

    &[data-variant='danger'] {
      color: var(--color-text-light);
      background-color: var(--color-danger);

      .icon {
        color: var(--color-text-light)
      }

      &:hover:not(:disabled) {
        background-color: var(--color-danger-add-1);
      }

      &:active:not(:disabled) {
        background-color: var(--color-danger-add-2);
      }
    }
  }
}
